<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="cardionosis" src="{{ "/assets/img/CardioNosis.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> CardioNosis </h3>
    <ul>
      <li>February 2020</li>
    </ul>
    <p>Flask app that predicts the probablity of whether you have a running risk of a heart disease or not.</p>
    <a class="project-link" href="https://cardionosis.herokuapp.com">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="globepred" src="{{ "/assets/img/GlobePred.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> GlobePred </h3>
    <ul>
      <li>February 2020</li>
    </ul>
    <p>Flask app that classifies the type of Breast Cancer.</p>
    <a class="project-link" href="https://globepred.herokuapp.com">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="domecode" src="{{ "/assets/img/DomeCode.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> DomeCode </h3>
    <ul>
      <li>Ongoing</li>
    </ul>
    <p>DomeCode is my new major project, it helps novice and intermediate coders better their coding skills. DomeCode loves all languages but would currently be serving only Python, Java and C++ using Remote Code Execution.</p>
    <a class="project-link" href="https://arthtyagi.me/domecode">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="geddit" src="{{ "/assets/img/Geddit.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Geddit</h3>
    <ul>
      <li>May 2020</li>
    </ul>
    <p>Geddit is an open-source web app that allows you to keep Notes and To-Do lists with a Django Powered Backend.</p>
    <a class="project-link" href="https://github.com/arthtyagi/geddit">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="newmusic" src="{{ "/assets/img/NewMusic.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> NewMusic </h3>
    <ul>
      <li>May 2020</li>
    </ul>
    <p>Explore the latest music released on Spotify. Feel those tracks organized by the cover art, musical key, and metrics such as tempo and danceability.</p>
    <a class="project-link" href="https://arthtyagi.me/newmusic">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="yovoice" src="{{ "/assets/img/YoVoice.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> YoVoice! </h3>
    <ul>
      <li>May 2020</li>
    </ul>
    <p>YoVoice! is a great way to call your friend and tell him about the stuff no one cares about through this sick app without censorship and interference.

      YoVoice can be used by all sorts of people. It's real time VoIP yo! I'm not entirely sure why I made this tho. Bleh!
      
      How does this work? You shouldn't be here if this is a legit question of yours.
      
      Show your support by not being a sheep :)</p>
    <a class="project-link" href="https://arthsaysyo.surge.sh/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="nikolaai" src="{{ "/assets/img/NikolaAI.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>NikolaAI </h3>
    <ul>
      <li>February 2020</li>
    </ul>
    <p>A demonstration of how LSTMs can be used to make a chatbot.
    </p>
    <a class="project-link" href="https://github.com/arthtyagi/nikola.ai">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="covidmldashboard" src="{{ "/assets/img/CovidMLDashboard.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> CovidMLDashboard </h3>
    <ul>
      <li>May 2020</li>
    </ul>
    <p>Covid-19 India Dashboard with predictions using ML and other Data Visualizations.</p>
    <a class="project-link" href="https://mofocovidash.herokuapp.com">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="espock" src="{{ "/assets/img/ESpock.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> ESpock </h3>
    <ul>
      <li>December 2019</li>
    </ul>
    <p>Scores and updates of an ESports team in Rust.</p>
    <a class="project-link" href="https://github.com/arthtyagi/espock">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="pongai" src="{{ "/assets/img/PongAI.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> PongAI </h3>
    <ul>
      <li>July 2019</li>
    </ul>
    <p>Taught an AI to play pong in the browser using Tf.js.</p>
    <a class="project-link" href="https://github.com/arthtyagi/pongai">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="inplan" src="{{ "/assets/img/InPlan.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>InPlan</h3>
    <ul>
      <li>June 2019</li>
    </ul>
    <p>InPlan is an all new way to for students to manage their schoolwork. It helps students manage schoolwork by integrating with common classroom tools and centralizing everything in one place.</p>
    <a class="project-link" href="https://play.google.com/store/apps/details?id=com.arisveam.inplan">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="x86Bootloader" src="{{ "/assets/img/x86BootLoader.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> x86Bootloader </h3>
    <ul>
      <li>June 2019</li>
    </ul>
    <p></p>
    <a class="project-link" href="https://github.com/arthtyagi/x86Bootloader">Check it out</a>
  </div>
</div>
